<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <recheckTime>10</recheckTime>
   <dateFormat>yyyyMMddHHss</dateFormat>
   <jobFolder>..\Job Files\</jobFolder>
   <logFolder>..\Log Files\</logFolder>
   <jobs>
      <job>
         <name>Test Counter 1</name>
         <description>First job to test functionality. Counts by 16 every 10 seconds</description>
         <fileName>testCounter1.ps1</fileName>
         <active>TRUE</active>
         <params>
            <param>
               <pname>countby</pname>
               <pvalue>16</pvalue>
            </param>
            <param>
               <pname>pause</pname>
               <pvalue>10</pvalue>
            </param>
            <param>
               <pname>outputStr</pname>
               <pvalue>"Add 16, wait 10."</pvalue>
            </param>
         </params>
      </job>
      <job>
         <name>Test Counter 2</name>
         <description>Second job to test functionality. Counts by 8 every 3 seconds</description>
         <fileName>testCounter1.ps1</fileName>
         <active>FALSE</active>
         <params>
            <param>
               <pname>countby</pname>
               <pvalue>8</pvalue>
            </param>
            <param>
               <pname>pause</pname>
               <pvalue>3</pvalue>
            </param>
            <param>
               <pname>outputStr</pname>
               <pvalue>"Add 8, wait 3."</pvalue>
            </param>
         </params>
      </job>
      <job>
         <name>Sync Folders - Test1</name>
         <description>Example of sync'ing relative folders. UNC or FullPaths expected</description>
         <fileName>syncDirectory.ps1</fileName>
        <active>TRUE</active>
         <params>
            <param>
               <pname>sourceDir</pname>
               <pvalue>"..\Sync Test\Source"</pvalue>
            </param>
            <param>
               <pname>destDirsCsv</pname>
               <pvalue>"..\Sync Test\Dest1,..\Sync Test\Dest2"</pvalue>
            </param>
            <param>
               <pname>pause</pname>
               <pvalue>3</pvalue>
            </param>
         </params>
      </job>
   </jobs>
</configuration>